<!DOCTYPE html>
<html>
<head>
<title>Supermarket Login</title>
<script src="https://unpkg.com/htmx.org@1.9.10"></script>

<style>
body{
    font-family: Arial;
    background:#f4f4f4;
}

.container{
    width:900px;
    margin:auto;
}

.header{
    display:flex;
    justify-content:space-between;
    padding:20px;
    font-size:22px;
}

.forms{
    display:flex;
    gap:40px;
}

.box{
    background:white;
    padding:30px;
    width:50%;
    border:2px solid black;
}

input{
    width:100%;
    padding:8px;
    margin-top:5px;
    margin-bottom:15px;
}

button{
    padding:10px 20px;
    cursor:pointer;
}
</style>

</head>

<body>

<div class="container">

<div class="header">
<div>Logo</div>
<div>Profile</div>
</div>

<div class="forms">

<!-- LOGIN -->
<div class="box">
<h2>Log in</h2>

<form 
    hx-post="/login"
    hx-target="#login-result"
    hx-swap="innerHTML">

    <input name="email" placeholder="Email">
    <input name="password" placeholder = "Password" type="password">

    <button type="submit">Login</button>
</form>
<div id="login-result"></div>
</div>

<!-- REGISTER -->
<div class="box">
<h2>Register</h2>

<form 
    hx-post="/register"
    hx-target="#register-result"
    hx-swap="innerHTML">

    <input name="email" placeholder="Email" required>
    <input name="password" placeholder = "Password" type="password" required>
    <input type="password" placeholder = "Confirm Password" name="confirmPassword" required>
    <input type="text" placeholder = "First Name" name="firstName" required>
    <input type="text" placeholder = "Last Name" name="lastName" required>
    <input type="text" placeholder = "Phone Number" name="phoneNumber" required>

    <button type="submit">Sign Up</button>
</form>
<div id = "register-result"></div>
</div>

</div>
</div>

</body>
</html>